<div class="card-size">
    <div class="col s3 m7">
      <div class="card">
        <div class="card-image">
          <img [src]="employee.imageSrc">
          <span class="card-title"> {{ employee.characterName }} </span>
        </div>
        <div class="card-content">
          <p>Real Name - {{ employee.realName }} </p>
        </div>
        <div class="card-action">
          <a href="javascript:void(0);" (click)="showEMployeeDetails()" >More</a>
        </div>
      </div>
    </div>
  </div>